<%= f.cms_text_field :name %>

<%= f.cms_text_field :title %>

<div class='fields' id='right_content_edit'>
<h2>Right Side Content</h2>
<br/>
 <%= f.cms_text_field :main_url, :label => "Main Link", :instructions => "Setting this link will cause the entire Carousel content area to become 'clickable', linking to the URL supplied." %>

 <%= f.cms_text_editor :descriptive_content, {:title => "The right most content area of the Carousel Page" }%>

</div>

<div class='fields' id='right_content_edit'>
<h2>Left Side Content</h2>
<br/>

 <%= f.cms_text_field :secondary_url, :label => "Secondary Link", :title => "Setting this link will cause the content on the left (Image/Eyecatcher content) to link to the URL given" %>

 <% @images = ImageBlock.with_tag("carousel_page").collect{|im| [im.attachment.file_path, im.id]} %>
<div class='fields'>
 <%= f.label "Image" %>
 <%= f.select :image_block_id, @images, {:include_blank => "None."} %>
<%=
f.cms_instructions "NOTE: Either an Image is to be chosen as the content for the left Side or HTML/text can be written to the 'Eyecatcher' content. Supplying both will cause an error.  Images can be added to the 'Eyecatcher' through use of the Rich Text Editor." %>
</div>

 <%= f.cms_text_editor :eyecatcher_content, :height => "200px" %>

</div>
