
<%= "<a href='#{@content_block.main_url}'>" unless @content_block.main_url.blank? %>
<div class='carousel_page content' title='<%= @content_block.title %>'>
 


<% unless (@content_block.secondary_url.blank?) %>
 <%= "<a href='#{@content_block.secondary_url}'>" %>
<% end %>


 <div class='eyecatcher'>
 <% if @content_block.image_block %>
  <%= render_connectable(@content_block.image_block) %>
 <% else #Assume there is HTML content %>
   <%= @content_block.eyecatcher_content %>
 <% end %>
 </div>

<%= "</a>" unless @content_block.secondary_url.blank? %>

 <div class='descriptive'>
   <div class='content'>
 <h2><%= @content_block.title %></h2>
  <%= @content_block.descriptive_content %>
   </div>

 <p class='more_info'>More Info</p>
 </div>

</div>

<%= "</a>" unless @content_block.main_url.blank? %>
