<div id='<%=@content_block.name.underscore.gsub(/\s+/, "_")%>'class='student'>
 <div class='content'>
  <div class='bio'>

  <div class='image_wrapper'>
   <%= image_tag(@content_block.headshot.attachment.file_path) %>
  </div>
  <input type='hidden' value='<%=@content_block.thumbnail.attachment.file_path%>'
  class='thumbnail_file_path'/>
 </div>

   <p>
    <h3>
     <span class='odd'><%= @content_block.first_name %></span/>
     <span class='even'><%= @content_block.last_name %></span>
    </h3>

    <%= "<span class='url website'>#{@content_block.website}</span>" unless @content_block.website.blank? %>
 <%= @content_block.description %>
   </p>
  <% unless @content_block.updates.empty? %>
    <ul class='updates'>
      <h4>updates:</h4>
     <%  @content_block.updates.each do |update| %>
      <%= render_connectable(update) %> 
     <% end %>
    </div>  
  <% end %>
  </div>


</div>

