<p><b>Name:</b> <%= @content_block.name %></p>

<p><b>Twitter:</b> <%= @content_block.twitter %></p>
<p><b>Facebook:</b> <%= @content_block.facebook %></p>
<p><b>Youtube:</b> <%= @content_block.youtube %></p>
<p><b>Links:</b> <%= @content_block.links %></p>
