<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Scholarship Dance Training -<%= strip_tags(page_title) %></title>
    <%= include_stylesheets %>
    <%= yield :html_head %>
    <%= include_javascripts %>
  </head>
  <body style="margin: 0; padding: 0;">
     <%= cms_toolbar %>
    <div id='links'>
	<%= render_portlet("Social Media Headers") %>
    </div>

    <div id='header'><%= image_tag 'header.jpg' %></div>

    <div id="content" class='<%='cms_editing' if @mode == 'edit' && @section %>'>
     <div id='navigation_container'>
      <%= render_main_nav %>
      <%= yield :navigation %>
     </div>
     <div id='inner_content' class='<%='cms' if @mode == 'edit' && !@section %>'>
     <div id='floating_sidebar'>
      <%= container :upper_left_sidebar if !@section %>
     </div>
     <div id='main'>
      <%= container :main %>
     </div>
      <div style="clear: both" />
     <div id='testimonial'>
      <%= container :testimonial %>
     </div>
    </div>
    <div id='footer'></div>
  </body>
</html>
